<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>575767083720-vkrmlp0n9uj8h6dvff6kf6nia2gqdtpl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.575767083720-vkrmlp0n9uj8h6dvff6kf6nia2gqdtpl</string>
	<key>API_KEY</key>
	<string>AIzaSyCRvfptwdRrS8qODY1kdlriJvfngKV36Jc</string>
	<key>GCM_SENDER_ID</key>
	<string>575767083720</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatzone</string>
	<key>PROJECT_ID</key>
	<string>chatzone-114d2</string>
	<key>STORAGE_BUCKET</key>
	<string>chatzone-114d2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:575767083720:ios:87498df17294464c34c3fd</string>
</dict>
</plist>